.notification-stack-wrapper {
    padding: 1rem;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .notification-title {
    background-color: #94b00a;
    color: white;
    padding: 12px 20px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    display: block;
    text-align: center;
    border-radius: 6px;
  }
  
  .notification-stack {
    height: 400px;
    overflow: hidden;
    position: relative;
  }
  
  .notification-scroll {
    display: flex;
    flex-direction: column;
    animation: scrollUpStack 11s linear infinite;
  }
  
  @keyframes scrollUpStack {
    0% {
      transform: translateY(0%);
    }
    20% {
      transform: translateY(-33.33%);
    }
    40% {
      transform: translateY(-66.66%);
    }
    60% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0%);
    }
  }
  